In [ ]:

https://colab.research.google.com/drive/1xXDPhHzzYzkzDSo5jDMceEhMFTuvF9he#scrollTo=a6jIMRVfGP67

As we have got an idea on how to deal with data that contains numeric values but we still did not see 
how to perform text analysis using Python. In this case, we will be using Multinomial Naïve Bayes classifier.

SyntaxError: ignored

In [ ]:
url="https://raw.githubusercontent.com/sameerCoder/ML_Datasets/main/csv_naive_moviereview.csv"
import pandas as pd
import numpy as np

df=pd.read_csv(url)
df.head()

                                               urls
0  http://www.imdb.com/title/tt0453418/usercomments
1  http://www.imdb.com/title/tt0453418/usercomments
2  http://www.imdb.com/title/tt0453418/usercomments
3  http://www.imdb.com/title/tt0064354/usercomments
4  http://www.imdb.com/title/tt0064354/usercomments

In [ ]:
# create new column for review
df['label']=np.random.randint(0,2,df.shape[0])
df.head()

                                               urls  label
0  http://www.imdb.com/title/tt0453418/usercomments      0
1  http://www.imdb.com/title/tt0453418/usercomments      1
2  http://www.imdb.com/title/tt0453418/usercomments      0
3  http://www.imdb.com/title/tt0064354/usercomments      1
4  http://www.imdb.com/title/tt0064354/usercomments      1

In [12]:
x=df['urls']
y=df['label']

In [ ]:
#splitting the data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [ ]:
'''
Now for training and fitting the model, we will have to vectorize all the text data. 
So we will do all the three things using a pipeline to save our time.'''

'\nNow for training and fitting the model, we will have to vectorize all the text data. \nSo we will do all the three things using a pipeline to save our time.'

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC

# Naive Bayes:
text_clf_nb=Pipeline([('tfidf',TfidfVectorizer()),('clf',MultinomialNB()),])
#feed our trianing data in our pipeline
text_clf_nb.fit(x_train,y_train)
#now we will predict the data and evaluate our model
#Form a prediction set
predictions=text_clf_nb.predict(x_test)
#Report the confusion matrix
from sklearn import metrics
print(metrics.confusion_matrix(y_test,predictions))


# Evaluation measures such as precision , F1 score.
print(metrics.classification_report(y_test,predictions))

[[1515 2243]
 [1565 2177]]
              precision    recall  f1-score   support

           0       0.49      0.40      0.44      3758
           1       0.49      0.58      0.53      3742

    accuracy                           0.49      7500
   macro avg       0.49      0.49      0.49      7500
weighted avg       0.49      0.49      0.49      7500

In [ ]:
# Model predict 0 more than 1 review.

In [ ]:
!pip3 install -U scikit-learn scipy matplotlib

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (1.7.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (7.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (4.29.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)

In [ ]:
If the data contains text information as the features, then Naïve Bayes is the best option.
Besides keeping drawbacks away, Naïve Bayes also performs well 
in data containing numeric and binary values but there are many other algorithms to give a try.